.App-header {
  width: 100%;
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-size: 40px;
  text-align: Left;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.Content {
  display: flex;
  flex-direction: row; 
  margin-top: 90px; 
  padding: 20px; 
  height: 800px;
  background-color: rgb(242, 238, 238);
}

.ContentwMap {
  flex-direction: row; 
}

.Selectors {
  display: flex; 
  flex-direction: column; 
  margin-bottom: 20px; 
}

.find-route-button {
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.MapContainer {
  height: 500px; 
  width: 90%; 
  margin-top: 5px;
  margin-bottom: 20px; 
  max-height: 600px; 
  overflow: auto;
}

.error-box p {
  padding-left: 40px;
  margin-bottom: 10px;
  color: #ffffff; 
  font-size: 16px;
}

.error-box {
  height: 60px; 
  width: 390px; 
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #9a303b;
  color: white;
  border: black;
  border-radius: 4px;
}

.Selectors-wrapper {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}

.RouteDetails {
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  max-height: 290px;
  overflow: auto;
}

.RouteDetails h2 {
  margin-top: 0;
}

.RouteDetails ul {
  padding: 0;
  list-style-type: none;
  display: flex; 
  flex-wrap: wrap; 
}

.RouteDetails li {
  position: relative;
  padding: 8px 16px; 
}

.RouteDetails li:last-child {
  border: 1px;
}

.RouteDetails li::after {
  content: '→'; 
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  color: #333; 
}

.RouteDetails li.bold {
  font-weight: bold;
}

.RouteDetails li:last-child::after {
  content: none;
}

select#geography-select {
  width: 100%; 
  height: 40px; 
  padding: 5px 10px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: white; 
  font-size: 16px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


label {
  display: block; 
  margin-bottom: 5px; 
  font-size: 18px; 
  color: #333; 
}

.find-route-button {
  width: 390px; 
  height: 40px; 
  font-size: 16px; 

}

.Selectors {
  padding: 30px;
  background-color: #f8f8f8; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.random-station-generator{
  margin-top: 10px;
  height: 30px;
  background-color: #327634;
  font-size: 13px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.find-route-button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #327634;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Output-Components{
  border-left: 10px;
  padding-left: 20px;
}

.toggle-bar {
  display: flex;
  position: relative;
  width: 200px; 
  height: 40px; 
  margin: 10px;
  border-radius: 20px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  background-color: #f8f8f8; 
}

.slider {
  position: absolute;
  top: 2px; 
  bottom: 2px;
  width: 50%; 
  background-color: #327634; 
  border-radius: 18px; 
  transition: 0.3s ease-out; 
}

.slider.left {
  left: 2px; 
  right: 50%; 
}

.slider.right {
  right: 2px; 
  left: 50%; 
}

.toggle-option {
  flex: 1;
  z-index: 1; 
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: bold; 
  color: #555;
}

.toggle-option.active {
  color: white; 
}

.toggle-option:hover {
  opacity: 0.7; 
}
