.App-header {
  width: 100%;
  background-color: #282c34; /* Or any color you prefer */
  color: white;
  padding: 20px;
  font-size: 40px;
  text-align: Left;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.Content {
  display: flex;
  margin-top: 90px; /* Adjust based on the height of your header */
}

.Selectors {
  flex: 1;
  padding-right: 20px;
  /* Rest of your styles */
}

.MapContainer {
  flex: 2;
  height: calc(100vh - 60px); /* Adjust based on the height of your header */
  /* Rest of your styles */
}
